<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="Core">
      <directory>./Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <exclude>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
